OPENAI_API_KEY=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


SUPABASE_URL=https://hmedgoqtilemqwmakqtx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtZWRnb3F0aWxlbXF3bWFrcXR4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjE4OTg1NCwiZXhwIjoyMDYxNzY1ODU0fQ.-UHz3MCJ1kAiVgQIoX4bG9JcH6hvRWfO06xrsAm-mAI

# Optional: LangSmith for tracing (recommended for development)
LANGCHAIN_TRACING_V2=true

# Optional: LangSmith API key to access deployed graph
LANGCHAIN_API_KEY=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
LANGCHAIN_PROJECT="Mounim_AO"